<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Career Prediction</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">Career Predictor</a>
        <a class="btn btn-danger" href="/logout">Logout</a>
      </div>
    </nav>

    <div class="container mt-4">
      {% if student_name %}
      <h4 class="text-start text-muted mb-4">
        Welcome, <strong>{{ student_name }}</strong> 👋
      </h4>
      {% endif %}
      <h4 class="text-center mb-4">
        Enter Subject Scores to Identify Your Cluster Group
      </h4>
      <form method="POST">
        <div class="row">
          {% for subject in ['english', 'math', 'social', 'agric', 'phe',
          'btech', 'computer', 'business', 'religious_studies', 'cca', 'yoruba']
          %}
          <div class="col-md-4">
            <label>{{ subject.upper() }}</label>
            <input
              type="number"
              class="form-control"
              name="{{ subject }}"
              required
            />
          </div>
          {% endfor %}
        </div>
        <button type="submit" class="btn btn-success mt-5 w-100">
          Predict
        </button>
      </form>

      {% if prediction %}
      <div class="alert alert-info text-center mt-4" style="font-size: 1.1rem">
        {{ prediction | safe }}
      </div>
      {% endif %}
    </div>
  </body>
</html>
